 #form{
    background-color: white;
    border-radius: 10px;
    width: 380px;
    margin: 15vh auto;
    border: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
.head{
    text-align: center;
    color:hsl(340, 97%, 45%); 
    font-weight: bolder;    
}
.para{
    font-size: 11px;
    text-align: center;
    margin-top: 0.5rem;

} 
.input-type{
    margin: 10px 35px;
    font-size: 18px;
    display: flex;
    flex-direction: column;

} 
.input-type input{
    padding: 13px;
    border-radius: 9px;
    margin-bottom: 8px;
}
.input-type input:focus{
    border: 1px solid hsl(340, 97%, 45%);
}
.input-type label{
    font-weight: 500;
    margin: 5px 10px;
}
.parent-container3{
    text-align: center;
}
.submit{
    padding: 5px;
    margin:30px ;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    background-color:hsl(340, 97%, 45%); 
    width: 25%;
    font-weight: 500;
    color: white;
    border: none;
}
.submit:hover{
    background-color:hsl(340, 100%, 37%); 
    color: white;;
}
.password1{
    text-decoration: none;
    font-size: 13px;  
 }
 .pass{
    text-decoration: none;
    font-size: 13px;
    margin-left: 6rem;
    color:hsl(340, 97%, 45%); 
}
.insert-icon {
    position: relative;
}

.insert-icon i {
    position: absolute;
    left: 17rem; 
    top: 40%;
    transform: translateY(-50%);
    color:hsl(340, 97%, 45%); 
    
}
.modal {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: none;
    background-color:rgba(0,0,0,0.5);
    padding: 3rem 25rem;
    /* width: 50%; */
}
.modal-content{
    text-align: center;
}
.head{
    color: hsl(340, 97%, 45%);

}
.timer{
    justify-content: center;
    gap: 4px;
}
.link{
    text-decoration: none;
    margin-left: 4rem;
    color: hsl(340, 97%, 45%);
}
.parent-container2{
    text-align: center;
}
.submitbutton{
    width: 20%;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 10px;
    background-color:hsl(340, 97%, 45%); 
}
.bxs-timer {
    color: hsl(340, 97%, 45%);
}
.close {
    font-size: 30px;
    font-weight: bold;
    color: hsl(340, 97%, 45%);
    cursor: pointer;
    margin-left: 31rem;
}
.parent{
    display: flex;
    justify-content: end;
}
#table1{
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.addbutton{
   border: none;
   padding: 7px;
   background-color:hsl(340, 97%, 45%); 
   color: white;
   border-radius: 5px;
}
.form1{
    padding: 1rem;
    font-size: 13px;
}
#formpage{
    border-radius: 10px;
    width: 380px;
    margin: 2vh auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.head1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:hsl(340, 97%, 45%);
}
.form-floating input{
margin-left:15px ;
width: 90%;
}
.form-floating select{
    margin-left:15px ;
    width: 90%;
    }
option{
    font-size: 12px;
}
.subhead{
    color:hsl(340, 97%, 45%); 
}
.parent-container{
    text-align: center;
}

.savebutton{
    border: none;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    background-color:hsl(340, 97%, 45%); 
    display: inline-block;
    
}
.parent-container1{
    text-align: center;
}
#creatTable{
    width: 93%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
}
